<!doctype html>
<html>
<head>
	<title>Groups List</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/style.css">
		<style>
		html, body {
			height: 100%;
			margin: 0px 0px;
			background-color: #323232;
			font-family: 'Oxygen', sans-serif;
		}
		.verticalcenter {
			margin-left: auto;
   			margin-right: auto;
		}
		.btn-warning {
			background-color: #FFA726;
			border-width: 0px;
		}
		.signup,.login{ 
			color:#707070; 
			line-height: 30px;
		}
		a:hover{
			text-decoration: none;
			color:#909090;
		}
		.groupbox{
			padding: 30px 30px;
		}
		.groupofgroups{
			color: #EEEEEE;
			font-weight: bold;
		}
		.table th, .table td { 
		     border-top: none !important; 
		 }
		 .nomargin {
		 	margin-left: 15px;
		 	margin-right: 0px;
		 }
		 .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
		   background-color: #3F3F3F;
		}
		a{
			color: #DDD;
		}
		.unjoined{
			color: #AAA;
		}
		@media (min-width: 845px) {
			.rightborder{
				border-right: 1px solid #555;
			}
		}
		.rightborder{
		}
		.newgroup, .logout {
			width: 10em;
			height: 2em;
			text-align: center;
			border-radius: 20%/100%;
			border:none;
		}
		button:hover {
			background-color: #999;
		}
		.unseen{
			background-color: #D96250;
			display: inline;
			padding-left: 5px;
			padding-right: 5px;
			border-radius: 5px;
			height: 1em;
			vertical-align: middle;
			font-size: 0.8em
		}
			.text-center {
				text-align: center!important;
			}
	</style>
</head>
<body>
<div class="header navbar-fixed-top">
	<div class="weblogo">
		<a href="/groups"><img src="/img/logo.png" style="height: 1.5em;"></a>|
		<span style="font-size:0.8em; line-height: 1em;"><i class="fa fa-comment"></i> </span>
		<a href="#menu-toggle" class="btn btn-theme float-right" id="menu-toggle" style="line-height: 1em; font-size:0.5em; margin-top:0.5em;"><i class="fa fa-bars"></i></a>
		<a href="/logout" class="btn btn-theme float-right" id="menu-toggle" style="line-height: 1em; font-size:0.5em; margin-right: 0.2em;margin-top:0.5em;"><i class="fa fa-unlock-alt"></i> Logout</a>
	</div>
</div>
<div style="margin-left:0px; margin-right:0px;" class="container-fluid">

	<div class="row" style="background-color: #ffffff;">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<img width="30%" src="./img/logo.png" style="max-width:100%; max-height:100%; padding-top:20px; padding-bottom:20px;">
			</div>
		</div>
		<div class="row" style="padding-bottom:20px; text-align: center;">
			<button type="button" class="newgroup" data-toggle="modal" data-target="#addGroupModal">
				<span class="glyphicon glyphicon-plus"></span> New Group
			</button>
		</div>
	</div>
	<div class="row groupbox">
		<div class="col-sm-6 rightborder">
			<p class="groupofgroups">My Groups</p>
			<div class="row nomargin">
				<% if((user.groups).length ==0) {%> <p style="color: #888">You havn't joined any group. </p><% } %>
				<table class="table table-striped" style="background-color:#454545; ">
					<tbody>
						<% (user.groups).forEach(function(group,i){ %>
							<tr>
								<td style="vertical-align:middle"><a href="/chat/<%=group.groupId%>"><%= group.groupName %> <p class="unseen"><%= group.unseen %></p></a></td>
								<td style="width:60px;">
									<% if(own[i]) {%>
										<a class="btn btn-danger btn-xs" href="/delete/<%= group.groupId %>">Delete</a>
									<%}else {%>
										<a class="btn btn-danger btn-xs disabled">Delete</a>
									<% } %>
								</td>
								<td style="width:60px;"><a class="btn btn-warning btn-xs" href="/leave/<%= group.groupId %>">Leave</a></td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-6">
			<p class="groupofgroups">Other Groups</p>
			<div class="row nomargin">
				<% if(groups.length ==0) {%> <p style="color: #888">You have joined every group. </p><% } %>
				<table class="table table-striped" style="background-color:#454545">
					<tbody>
						<% groups.forEach(function(group){ %>
							<tr>
								<td style="vertical-align:middle; padding-left:10px" class="unjoined"><%= group.name %></td>
								<td style="width:60px;"><a class="btn btn-info btn-xs" href="/join/<%= group.id %>">Join</a></td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</div>
		
		

		

		<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add Group</h4>
		      </div>
		      <div class="modal-body">
		      	<form method="POST" action="addGroup">
		      		<div class="form-group">
		      			<label>Group Name</label>
		      			<input name="groupName" class="form-control">
		      		</div>
		      		<button type="submit" class="btn btn-primary">Add Group</button>
		      	</form>
		      </div><!-- 
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button><!-- 
		        <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div> -->
		    </div>
		  </div>
		</div>
	</div>

</div>

	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>

</html>