<!doctype html>
<html>
<head>
	<title>说 | Messenger</title>
	<!--<link rel="shortcut icon" type="image/x-icon" href="{{url('assets/images/favicon.ico')}}" />-->
	<!--<link rel="icon" type="image/png" href="{{url('assets/images/favicon.ico')}}" />-->
	<!--<link rel="apple-touch-icon" href="{{url('assets/images/favicon.ico')}}" />-->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../css/style.css">
		<style>
			#iframeContainer {
				height: 100%;
				padding-left: 0;
				padding-right: 0;
				border-left: 1px solid rgba(0, 0, 0, .10);
			}
			iframe {
				border: none;
				height: 100%;
				width: 100%;
			}
		html, body {
			height: 94%;
			margin: 0;
			padding: 0;
			font-family: 'Oxygen', sans-serif;
		}
		.verticalcenter {
			margin-left: auto;
   			margin-right: auto;
		}
		.btn-warning {
			background-color: #FFA726;
			border-width: 0px;
		}
		.signup,.login{ 
			color:#707070; 
			line-height: 30px;
		}
		a:hover{
			text-decoration: none;
			color:#909090;
		}
		.groupbox{
			height: 100%;
			padding: 0px 30px;
			padding-left: 15px;
			padding-right: 0px;
		}
		.groupofgroups{
			color:rgb(69, 69, 69);
			font-weight: bold;
			border-bottom: 1px solid rgba(0, 0, 0, .10);
			padding-top: 20px;
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 0px;
			padding-bottom:20px;
		}
		.table th, .table td { 
		     border-top: none !important; 
		 }
		 .nomargin {
		 	margin-left: 0px;
		 	margin-right: 0px;
		 }
		a{
			color:rgb(69, 69, 69);
		}
		.unjoined{
			color:rgb(69, 69, 69);
		}
		@media (min-width: 845px) {
			.rightborder{
				/*border-right: 1px solid rgba(0, 0, 0, .10);*/
			}
		}
		.rightborder{
			padding-left: 0px;
			padding-right: 0px;
		}
		.newgroup, .logout {
			width: 10em;
			height: 2em;
			text-align: center;
			border-radius: 20%/100%;
			border:none;
		}
		button:hover {
			background-color: #999;
		}
		.unseen{
			background-color: #FFA726;
			display: inline;
			padding-left: 5px;
			padding-right: 5px;
			border-radius: 5px;
			height: 1em;
			vertical-align: middle;
			font-size: 0.8em
		}
			.text-center {
				text-align: center!important;
			}
			tr td {
				padding: 15px !important;
			}
			#OtherGroups {
				border-top: 1px solid rgba(0, 0, 0, .10);
			}
			.container-fluid {
				height: 100%;
			}
			.joinedGroup:hover {
				cursor: pointer;
			}
			.equalBtn {
				text-align: center;
				width: 70px;
			}
	</style>
</head>
<body>
<div class="header navbar-fixed-top container">
	<div class="weblogo">
		<a href="/groups"><img src="/img/logo.png" style="height: 1.5em;"></a>
		<span style="font-size:0.8em; line-height: 1em;" id="theTitle"> Messenger</span>
		<a href="/logout" class="btn btn-theme float-right" id="menu-toggle" style="line-height: 1em; font-size:0.5em; margin-right: 0.2em;margin-top:0.5em;"><i class="fa fa-unlock-alt"></i> Logout</a>
	</div>
</div>
<div style="margin-left:0px; margin-right:0px; margin-top: 62.3px;" class="container-fluid">
	<div class="row groupbox">
			<div class="col-sm-4 rightborder">
				<div class="row nomargin">
					<p class="groupofgroups">My Groups <span><button type="button" class="newgroup pull-right" data-toggle="modal" data-target="#addGroupModal">
								<span class="glyphicon glyphicon-plus"></span> New Group
							</button></span></p>
					<% if((user.groups).length ==0) {%> <p style="color: #888;padding-left: 15px;">You havn't joined any group. </p><% } %>
					<table class="table table-striped">
						<tbody>
							<% (user.groups).forEach(function(group,i){ %>
								<tr class="joinedGroup" onclick="changeChat('<%=group.groupId%>','<%= group.groupName %>');">
									<td style="vertical-align:middle"><a target="iframe_chat" href="/chat/<%=group.groupId%>"><%= group.groupName %> <p class="unseen"><%= group.unseen %></p></a></td>
									<td style="width:60px;">
										<% if(own[i]) {%>
											<a class="btn btn-danger btn-xs equalBtn" href="/delete/<%= group.groupId %>">Remove</a>
										<%}else {%>
											<a class="btn btn-danger btn-xs disabled equalBtn">Remove</a>
										<% } %>
									</td>
									<td style="width:60px;"><a class="btn btn-warning btn-xs equalBtn" href="/leave/<%= group.groupId %>">Leave</a></td>
								</tr>
							<% }) %>
						</tbody>
					</table>
					<p class="groupofgroups" id="OtherGroups">Other Groups</p>
					<% if(groups.length ==0) {%> <p style="color: #888;padding-left: 15px">You have joined every group. </p><% } %>
					<table class="table table-striped">
						<tbody>
						<% groups.forEach(function(group){ %>
						<tr>
							<td style="vertical-align:middle; padding-left:10px" class="unjoined"><%= group.name %></td>
							<td style="width:60px;"><a class="btn btn-info btn-xs equalBtn" href="/join/<%= group.id %>">Join</a></td>
						</tr>
						<% }) %>
						</tbody>
					</table>
				</div>
			</div>
		<div class="col-sm-8" id="iframeContainer">
			<iframe name="iframe_chat"></iframe>
		</div>

		</div>


		

		<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add Group</h4>
		      </div>
		      <div class="modal-body">
		      	<form method="POST" action="addGroup">
		      		<div class="form-group">
		      			<label>Group Name</label>
		      			<input name="groupName" class="form-control">
		      		</div>
		      		<button type="submit" class="btn btn-primary">Add Group</button>
		      	</form>
		      </div><!-- 
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button><!-- 
		        <button type="button" class="btn btn-primary">Save changes</button> -->
		      </div> -->
		    </div>
		  </div>
		</div>
	</div>

</div>

	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
		function changeChat(id,title) {
			$('iframe').attr('src','/chat/'+id);
			$('#theTitle').html(' Messenger | '+title);
		}
	</script>
</body>

</html>